html, body {
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #ebffff;
    color:#324B4B;
  }
  
  .vertical-center {
      position: relative;
      top: 30%;
  }
  
  .page-header {
    height: 30vh;
    background: url('https://images.pexels.com/photos/6766279/pexels-photo-6766279.jpeg') center / cover no-repeat;
    color: #fff0f0;
  }
  
  h1, h1 ~ p {
    text-align: center;
  }
  .double-border {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px double #85324b;
    text-align: center;
    background-color: floralwhite
  }
  
  nav > a {
      text-decoration: none;
      color: #A6A9CD;
      margin-left: 2%;
    padding: 0.5em;
    display: inline-block;
  }
  nav > a:hover {
      color: #ffe433;
  }
  
  div > h2 {
    text-align: center;
    text-decoration: underline wavy;
  }
  
  div > p {
    font-size: large;
  }
  
  #reiki {
    background-color: whitesmoke;
    border: dotted #517b69;
    padding: 5px;
  }
  
  #tarotcards {
  border: dotted #517b69;
    padding: 5px;
  }
  
  #tarotcards img {
    width: 50%;
    height: auto;
    float: right;
    margin-bottom: 0.5em;
    border: solid #85324b 3px;
  }
  
  .float-clear {
    clear:both;
  }

  footer {
    text-align: center;
    background-color: #fcfdd1;
  }
  
  footer > h3 {
    color: #9ca0ce;
    font-style: normal;
    background-color: white;
    text-decoration: underline;
  }
  
  footer > a {
      color: #9b9ec7;
      text-decoration: none;
      padding: 0 15px;
      font-size: 1rem;
  }
  
  footer > p {
      text-align: center;
  }
  
  form {
    width: 80%;
    padding: 15px;
    margin: 15px auto;
    background-color: white;
}

.measures {
    margin-top: 5px;
    margin-bottom: 5px;
}

legend {
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em;
}

fieldset {
    margin:1.5em;
}

input[type=submit] {
    padding: 0.5rem;
    color: #324B4B;
    background-color: #c8fee7;
}

input[type=reset] {
    padding: 0.5rem;
    background-color: #dde1e1;
    color: #324B4B;
}